<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <title> {% block title %} {% endblock %} </title>
            <link rel=stylesheet type=text/css href="{{url_for('static', filename='custom_template.css')}}" />
            <script type="text/javascript" src="{{url_for('static', filename='jquery-1.11.1.js')}}"></script>
            <script type="text/javascript" src="{{url_for('static', filename='typeahead.bundle.js')}}"></script>
            <script type="text/javascript" src="{{url_for('static', filename='handlebars-v2.0.0.js')}}"></script>

         {% endblock head %}
    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
</html>